body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    
}

#input-el{
    text-align: center;
    background-color:#d1d9af;
    width: 100%;
    padding: 10px;
    margin-bottom: 13px;
    border-radius: 3px;
    border:2px solid rgb(4, 142, 29);
    color: #0056b3;
    box-sizing: border-box;
    box-shadow: 3px 2px 7px #4d4d1d; 
   font-weight: bold;
}

#input-btn{
    background-color: rgb(190, 190, 28);
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 25px 10px 25px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: medium;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    transition: 0.25s ease-in-out;
    box-shadow: 5px 5px 10px #8c8989;
    margin-bottom: 10px;
 
}

#input-btn:hover{
    background-color: #0056b3;
}

#input-btn:active{
    background-color: #fb0101;
    transition: 0s ease;
     
}

#ul-el{
    
    list-style-type:none; 
    padding: 0; 
    margin: 0; 
    color: #2e038d;
    
}

#ul-el li{
    padding: 3px; 
    margin-bottom: 5px; 
    background-color: #878d6c; 
    border-radius: 5px;
    font-weight: bold;
    font-style:italic;
    font-family:'Courier New', Courier, monospace;
    
}


